absl-py
accelerate
aioprometheus
aiosignal
annotated-types
anyio
attrs
bitsandbytes
blinker
cachetools
certifi
charset-normalizer
click
cmake
contourpy
cycler
fastapi
filelock
flask
flask-cors
fonttools
frozenlist
fsspec
grpcio
h11
httptools
huggingface-hub
idna
itsdangerous
jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
lit
llvmlite
markdown
markupsafe
matplotlib
mpmath
msgpack
networkx
ninja
numba
numpy
orjson
packaging
pandas
pillow
pip
protobuf
psutil
pydantic
pydantic-core
pynvml
pyparsing
python-dateutil
python-dotenv
pytz
pyyaml
quantile-python
ray
referencing
regex
requests
rpds-py
safetensors
scikit-learn
scipy
seaborn
sentencepiece
setuptools
six
sniffio
starlette
sympy
tensorboard
tensorboard-data-server
tensorboardx
termcolor
threadpoolctl
timeout
timeout-decorator
tokenizers
torch
tqdm
transformers
# triton
typing-extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
websockets
werkzeug
wheel