# -e .
absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
astunparse
async-timeout
attrs
blis
catalogue
click
cloudpathlib
compel
confection
contourpy
cvxopt
cycler
cymem
daam
datasets
diffusers
dill
distro
docker-pycreds
einops
fastapi
ffmpy
fire
flatbuffers
flux
fonttools
frozenlist
fsspec
ftfy
gast
gitdb
GitPython
google-pasta
gradio
gradio_client
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
hydra-core
imageio
inflect
invisible-watermark
jiter
joblib
keras
kiwisolver
langcodes
language_data
lazy_loader
libclang
lightning-utilities
llvmlite
marisa-trie
Markdown
markdown-it-py
matplotlib
mdurl
mkl-service
ml-dtypes
more-itertools
multidict
multiprocess
murmurhash
namex
nltk
numba
nvidia-ml-py
nvitop
omegaconf
openai
openai-clip
opencv-python
opt_einsum
optree
orjson
packaging
pandas
preshed
protobuf
psutil
pyaml
pyarrow
pydantic
pydantic_core
pydub
pynndescent
pyparsing
python-multipart
pytz
PyWavelets
regex
rich
ruff
safehttpx
safetensors
scikit-image
scikit-learn
scikit-opt
scikit-optimize
scipy
seaborn
semantic-version
sentencepiece
sentry-sdk
setproctitle
shellingham
smart-open
smmap
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
starlette
tensorboard
# tensorboard-data-server
# tensorflow
# tensorflow-io-gcs-filesystem
termcolor
tf_keras
thinc
threadpoolctl
tifffile
tokenizers
tomlkit
torch
torchvision
tqdm
transformers
triton
typeguard
typer
tzdata
# umap
umap-learn
uvicorn
wandb
wasabi
weasel
websockets
Werkzeug
wrapt
xxhash
yarl
zipp
