--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124
torchmetrics

absl-py
aiohappyeyeballs
aiohttp
aiosignal
astral
async-timeout
attrs
captum
castle
certifi
cftime
charset-normalizer
contourpy
cycler
fonttools
frozenlist
fsspec
grpcio
idna
imageio
Jinja2
jitcdde
jitcxde_common
joblib
kiwisolver
lazy_loader
lightgbm
lightning-utilities
llvmlite
Markdown
MarkupSafe
matplotlib
mpmath
multidict
netCDF4
networkx
numba
numpy
packaging
pandas
patsy
pillow
propcache
protobuf
pyparsing
python-dateutil
pytorch-lightning
pytorch-metric-learning
pytz
PyWavelets
PyYAML
requests
scikit-image
scikit-learn
scipy
seaborn
six
statsmodels
symengine
sympy
tensorboard
tensorboard-data-server
tensorboardX
threadpoolctl
tifffile
time_interpret
# timesynth==0.2.4
tqdm
tslearn
typing_extensions
tzdata
urllib3
Werkzeug
xarray
yarl